<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Carosello News</title>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Slider</title>
</head>
<body>

    <div id="app">

        <div class="container" >
            <div class="slider-wrapper" tabindex="0">

                <div class="item" v-for="(pippo, index) in slides" :class="positionSlides === index ? 'active': ''">
                    <img :src="pippo.image" alt="" />
                    <div class="text">
                        <h3>{{pippo.title}}</h3>
                        <p>
                         {{pippo.text}}   
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev" @click="slidePrev"></div>
                    <div class="next" @click="slideNext"></div>
                    <div class="thumb"  v-for="(pluto,index) in slides" :class="positionSlides === index ? 'active': ''" >
                        <img :src="pluto.image" :alt="pluto.title"/>
                    </div>
                    
                </div>

            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>
